<app-header>
  <app-content key="booking-details-page.header.title"></app-content>
  {{booking?.bookingCode}}
</app-header>
<a class="back-to-check-in" routerLink="check-in">Back to check-in</a>
<div class="booking-details" *ngIf="booking">
  <h3>
    <app-content key="booking-details-page.booking"></app-content>
  </h3>
  <span>{{booking.bookingCode}}</span>
  <h3>
    <app-content key="booking-details-page.passengers"></app-content>
  </h3>
  <span *ngFor="let passenger of booking.passengers">
    {{passenger.title.name}}
    {{passenger.firstName}} {{passenger.lastName}}
  </span>
  <h3>
    <app-content key="booking-details-page.flight-info"></app-content>
  </h3>
  <div class="itinerary-info" *ngFor="let connection of booking.itinerary.connections">

    <p>
      <span> From {{connection.origin.city.name}} ({{connection.origin.name}}) </span>

      <span> To {{connection.destination.city.name}} ({{connection.destination.name}}) </span>
      <span>({{booking.itinerary.type}})</span>
    </p>

    <table class="data-table" *ngFor="let segment of connection.segments">
      <tr>
        <td>Flight</td>
        <td>{{segment.marketingFlight?.carrier?.name}} {{segment.marketingFlight?.number}}</td>
      </tr>
      <tr>
        <td>Stops</td>
        <td>{{segment.marketingFlight?.numberOfStops}}</td>
      </tr>
      <tr>
        <td>Aeroplane</td>
        <td>{{segment.marketingFlight?.operatingFlight?.equipment?.name}}</td>
      </tr>
      <tr>
        <td>Cabin</td>
        <td>{{segment.marketingFlight?.operatingFlight?.cabin?.name}}</td>
      </tr>
    </table>

  </div>
</div>