@import './tools.scss';

body {
  font-family: "Tahoma",Roboto,sans-serif;
  line-height: 1.8em;
  font-size: 18px;
}

app-root {

  h1 {
    text-align: center;
    line-height: 1.5em;
  }

  .content-card {
    margin: 15px auto;
    padding: 20px;

    @include breakpoint-from-small {
      max-width: 800px;
    }
  }

  input {
    width: calc(100% - 24px);
    height: 40px;
    line-height: 40px;
    padding: 0 10px;

    &.ng-touched.ng-dirty.ng-invalid {
      border-color: red;
    }
  }

  .input-wrapper {
    margin: 0 0 24px 0;
  }

  label {
    font-weight: bold;
    font-size: 16px;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .form-error {
    font-size: 14px;   
    color: #ff6b6b;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
