@import '../../tools.scss';

header {
  background-image: white;
  box-shadow: 0 4px 5px -2px rgb(0 0 0 / 20%), 0 7px 10px 1px rgb(0 0 0 / 14%), 0 2px 16px 1px rgb(0 0 0 / 12%);
  height: 120px;

  @include breakpoint-from-small {
    height: 80px;
  }

  .klm-logo {
    background-image: url(https://www.klm.com/assets/components/28.4.0/kl/logo/kl-logo-2022.svg);
    width: 300px;
    height: 42px;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
  }

  .title {
    height: 100%;
    display: flex;
    font-size: 24px;
    color: white;
    align-items: center;
    justify-content: center;
  }
}
